.settings {
  width: 100%;

  padding: 1em;

  border: 1px solid lightgrey;
  border-radius: 15px;

  float: right;

  display: flex;
  flex-direction: column;
}
.settings .toggleNoticeBadMarks {
  margin-left: 1em;
  margin-bottom: 1em;

  display: inline-block;
}

.settings button {
  width: 20%;
}
