<div class="settings">
  <h1>Notice bad marks</h1>
  <div [ngSwitch]="getNoticeBadMarks()" class="toggleNoticeBadMarks">
    <button *ngSwitchCase="true" (click)="toggleNoticeBadMarks()">Disable</button>
    <button *ngSwitchCase="false" (click)="toggleNoticeBadMarks()">Enable</button>
    <button *ngSwitchDefault>Enable</button>
  </div>
</div>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Father name</th>
    <th>Older than date</th>
    <th>Mark</th>
    <th>DELETE</th>
  </tr>

  <tr>
    <td><h1>№</h1></td>
    <td><input #searchLineName type="text" (input)="findStudent(searchLineName.value, 'name')"><br></td>
    <td><input #searchLineSurname type="text" (input)="findStudent(searchLineSurname.value, 'surname')"></td>
    <td><input #searchLineFatherName type="text" (input)="findStudent(searchLineFatherName.value, 'fatherName')"></td>
    <td><input #searchLineBirthDate type="date" (input)="filterStudentsByDate(searchLineBirthDate)"></td>
    <td>
      <select #markFilter name="markFilter" id="markFilter" (change)="filterStudentsByMarks(markFilter)">
        <option value="all">All</option>
        <option value="twoToThree">2 to 3</option>
        <option value="threeToFour">3 to 4</option>
        <option value="fourToFive">4 to 5</option>
      </select>
    </td>
    <td><button (click)="clearFilters()">Clear filters</button></td>
  </tr>

  <tr *ngFor="let student of getStudents(); let i = index"
      [class]="setClass(student)">
    <td>№{{i + 1}}</td>
    <td>{{student.studentName}}</td>
    <td>{{student.surname}}</td>
    <td>{{student.fatherName}}</td>
    <td>{{student.birthDate.getDate() < 10 ? '0' + student.birthDate.getDate() : student.birthDate.getDate()}}.{{student.birthDate.getMonth() < 10 ? '0' + student.birthDate.getMonth() : student.birthDate.getMonth()}}.{{student.birthDate.getFullYear()}}</td>
    <td>{{student.severalMark}}</td>
    <td>
      <button (click)="togglePopUp(student)">
        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png" width="25px">
      </button>
    </td>
  </tr>
</table>

<div class="popUp" *ngIf="getShowPopUp()">
  <h3>Are you sure about that?</h3>
  <div class="flex-just-sp-ar">
    <button (click)="deleteStudent()">Yes</button>
    <button (click)="togglePopUp()">No</button>
  </div>
</div>
