h1 {
  margin: 0;
}

.settings h1 {
  width: auto;

  display: inline;
}
.settings .toggleNoticeBadMarks {
  margin-left: 1em;
  margin-bottom: 1em;

  display: inline-block;
}

table {
  border-collapse: collapse;
}

table tr:nth-child(2n) {
  background: lightgrey;
}

table tr:not(:last-child) {
  border-bottom: 2px solid black;
}

table tr.find {
  background: black;

  color: white;
}

table tr.bad {
  color: #b30303;
  font-weight: bold;
}

td {
  width: 80px;

  padding: 8px;

  text-align: center;
}

.popUp {
  position: absolute;
  top: 35%;
  left: 35%;

  width: 30%;
  height: 20%;

  padding: 1em;

  background: white;
  border-radius: 15px;
  border: 1px solid lightgrey;

  color: black
}

.flex-just-sp-ar {
  width: 100%;

  margin-top: 3em;

  display: flex;
  justify-content: space-around;
}
